<!doctype html>

<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body style="text-align:center">
        <div> Microblog: 
            <a href={{url_for("index")}} style="margin:20px;"><b>Home</b></a>
            {% if current_user.is_anonymous %}
            <a href={{url_for("login")}}><b>Login</b></a>
            {% else %}
            <a href={{url_for("logout")}}><b>Logout</b></a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages()%}
        {%if messages%}
        {%for msg in messages%}
        <ul>
            <b><li>{{msg}}</li></b>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
    </body>

</html>
